# Node
node_modules/
dist/
.env
.DS_Store

# Go
server/ghostpanel-server
server/logs/
server/output/

# C++ Build
*.o
*.exe
*.dll
*.obj
Browser-Data-Grabber/build/
Browser-Data-Grabber/.vs/
Browser-Data-Grabber/out/

# IDE
.vscode/
.idea/
*.sln
*.vcxproj
*.user

# Log files
*.log
logs/
server/logs/